<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Overpass|Permanent+Marker" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/favicon.ico?">
    <title>HaHa Hub</title>
  </head>
  <body>
    <header class="b-header">
      <div class="header-div">
        <h1>Haha <br />Hub</h1>
      </div>
      <form class="header-form" action="/" method="POST">
        <label for="nickname">nickname</label>
        <input class="header-form_input" type="text" name="nickname" />
        <label for="jokeInput">Tell a joke...go on!</label>
        <textarea
          class="header-form_input"
          name="jokeInput"
          id="joke-input"
          cols="30"
          rows="1"
        ></textarea>
        <p><%= error.message %></p>
        <button class="button" type="submit">Punch Line</button>
      </form>
    </header>
    <main>
      <% jokes.forEach((joke) => { %>
      <div class="card">

        <div class="vote">
        
        <form action="/up<%= joke.id %>" method="POST">
          <button class="button" type="submit">😂</button>
        </form>
        <p><%= joke.score %></p>
        <form  action="/down<%= joke.id %>" method="POST">
          <button class="button" type="submit">💩</button>
        </form>

      </div>

        <ul class="card_list-container">
          <li class="card_list"><%= joke.delivery %></li>
          <li class="card_list card_nickname"><%= joke.nickname %></li>
        </ul>
        <form class="flex" action="/delete<%= joke.id %>" method="POST">
          <button class="button" type="submit">Delete</button>
        </form>
      </div>
      <% }) %>
    </main>
  </body>
</html>
